<?xml version='1.0' encoding='utf-8'?>
<plugin id="@spoonconsulting/cordova-plugin-roomplan" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-roomplan</name>
    <js-module name="CDVRoomPlan" src="www/CDVRoomPlan.js">
        <clobbers target="CDVRoomPlan" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CDVRoomPlan">
                <param name="ios-package" value="CDVRoomPlan" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVRoomPlan.swift" />
        <source-file src="src/ios/CDVRoomPlan.h" type="BridgingHeader" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>
</plugin>